@page "/"
<EditForm Model="ListaTecnicos" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Prioridades</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-end">

           @*Barra Busqueda*@
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            @*Boton Crear*@
            <div class="col-md-3 text-end">
                <a href="/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>
    @*Tabla*@
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>IdTecnico</th>
                <th>Nombre</th>
                <th>Sueldo por Hora</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tecnicos in ListaTecnicos)
            {
                <tr>
                    <td>@tecnicos.IdTecnico</td>
                    <td>@tecnicos.Nombre</td>
                    <td>@tecnicos.SueldoHora</td>
                    <td>
                       @*Boton Details*@
                        <a href="/Details/@tecnicos.IdTecnico" style="border: none; background-color: transparent;" class="btn-detalle">
                            <span class="bi bi-info-circle-fill" style="font-size: 2rem;"></span>
                        </a>

                    </td>
                    <td>
                        @*Boton Editar*@
                        <a href="/Prioridad/Edit/@tecnicos.IdTecnico" style="border: none; background-color: transparent;" class="btn-editar">
                            <span class="bi bi-marker-tip" style="font-size: 2rem;"></span>
                        </a>
                    </td>
                   
                    <td>
                        @*Boton Eliminar*@
                        <a href="/Prioridad/Delete/@tecnicos.IdTecnico" style="border: none; background-color: transparent;" class="btn-eliminar">
                            <span class="bi bi-dash-circle-fill" style="font-size: 2rem;"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>
@code {
    public List<Tecnicos> ListaTecnicos = new List<Tecnicos>();
    private string valorFiltro = "";
    private string filtro = "Id";
    public void Guardar(){}
    public void Buscar() { }
}
