@page "/Registro/"
@page "/Registro/{tecnicoId:int}"
@inject TecnicosServices tecnicosService
@rendermode InteractiveServer
<h3>R_Tecnicos</h3>
<PageTitle>Registro Prioridades</PageTitle>
<EditForm Model="tecnicos" OnInvalidSubmit="Guardar" FormName="tecnicosForm">
    <DataAnnotationsValidator />
    <div class="card shadow-lg">
            <div class="card-header">
                <h3>Crear Prioridades</h3>
                <div/>
                <div class="row">
                @*PrioridadId*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4"></div>
                <label class="form-label">Id Prioridad</label>
                <div class="input-group mb-3">
                    <InputNumber @bind-Value="tecnicos.IdTecnico" class="form-control" aria-describedby="buscarButton" />
                    <button @onclick="Buscar" class="btn btn-primary" type="button" id="buscarButton">
                        Buscar
                        <i class="oi oi-magnifying-glass" />
                    </button>
                </div>

            </div>
            @*Descripcion*@
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <div class="col-6"><InputText class="form-control" placeholder="Ingrese un nombre" @bind-Value="tecnicos.Nombre"></InputText></div>

            </div>
            @*DiasCompromisos*@
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                <label class="form-label">Dias Compromiso</label>
                <div class="input-group mb-3">
                    <InputNumber @bind-Value="tecnicos.SueldoHora" class="form-control" aria-describedby="buscarButton" />

                </div>
            </div>
        </div>
         @*Botones*@
                    <div class="card-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" @onclick="() => Guardar()">
                            <span> Crear <i class="bi bi-file-earmark" /></span>
                        </button>
                            <a href="/DetailPrioridades" class="btn btn-secondary">
                                <span> Volver a Consulta </span><i class="bi bi-arrow-return-left" />
                            </a>
                    </div>
            
        </div>
    
</EditForm>


@code {
    public Tecnicos tecnicos { get; set; } = new Tecnicos();

    public void Guardar()
    {

    }
    public void Buscar()
    {
        
    }

}
