@page "/TipoTecnico/Index"
@page "/TipoTecnico/Index/{TipoId:int}"
@inject TiposTecnicosServices tiposTecnicosService
@rendermode InteractiveServer

<PageTitle>Consulta Tipos Tecnicos</PageTitle>
<EditForm Model="ListaTiposTecnicos" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta TiposT&eacute;cnicos</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-end">

            @*Filtro*@
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="descripcion">Descripci&oacute;n</option>
                </select>
            </div>

            @*Barra Busqueda*@
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>

            @*Boton Crear*@
            <div class="col-md-3 text-end">
                <a href="/TipoTecnico/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>

    @*Tabla*@
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Incentivo</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tipoTecnico in ListaTiposTecnicos)
            {
                <tr>
                    <td>@tipoTecnico.TipoTecnicoId</td>
                    <td>@tipoTecnico.Descripcion</td>
                    <td>

                        @*Boton Detalles*@
                        <a href="/TipoTecnico/Details/@tipoTecnico.TipoTecnicoId" style="border: none; background-color: transparent;" class="btn-detalle">
                            <span class="bi bi-info-circle-fill" style="font-size: 2rem;"></span>
                        </a>

                    </td>
                    <td>
                        @*Boton Editar*@
                        <a href="/TipoTecnico/Edit/@tipoTecnico.TipoTecnicoId" style="border: none; background-color: transparent;" class="btn-editar">
                            <span class="bi bi-marker-tip" style="font-size: 2rem;"></span>
                        </a>
                    </td>

                    <td>
                        @*Boton Eliminar*@
                        <a href="/TipoTecnico/Delete/@tipoTecnico.TipoTecnicoId" style="border: none; background-color: transparent;" class="btn-eliminar">
                            <span class="bi bi-dash-circle-fill" style="font-size: 2rem;"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>
@code {
    [Parameter]
    public int TipoId { get; set; }
    public List<TiposTecnicos> ListaTiposTecnicos = new List<TiposTecnicos>();
    private string valorFiltro = "";
    private string filtro = "Id";

    protected override void OnInitialized()
    {
        ListaTiposTecnicos = tiposTecnicosService.Listar(c => true);
    }
    public void Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int IdTipoTecnico))
            {
                ListaTiposTecnicos = tiposTecnicosService.Listar(t => t.TipoTecnicoId == IdTipoTecnico);
            }
            else if (filtro == "nombre")
            {
                ListaTiposTecnicos = tiposTecnicosService.Listar(t => t.Descripcion == valorFiltro);
            }
        }
        else
        {
            ListaTiposTecnicos = tiposTecnicosService.Listar(t => true);
        }
    }
}